.grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
}
body {
    background-image: url("leaves.jpeg");
    max-width: 2000px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar {
    background:hsl(100, 44%, 49%);
    grid-area: navbar;
    padding: 10px;

}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em ;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

header, footer {
    grid-column: 1 / 4;
    
}

img {
    float: left;
    margin: 0 20px 20px 10px;
    border:hsl(100, 44%, 49%) 10px solid;
}

p {
    
    text-align: justify;
    text-indent: 2em;
}
a {
    color: hsl(120, 44%, 49%); 
}

a:hover {
    color:darkgoldenrod;
}

.content {
    width: 75%;
    margin-left: 200px;
    font-size: 20px;
    background-color: #f3f8f391;
}

.content-item {
    font-family: 'Oooh Baby', serif;
    font-size: 24px;
    padding: 2px;
}

.list {
    font-size: 20px;
    list-style-type: none;
    max-width: 900px;
}

.list > li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.btn:hover{  
    background-color: hsl(120, 44%, 49%);
    
}
.btn-primary:hover {
    border-color:hsl(125, 100%, 75%)
}
.btn {
    background-color: hsl(100, 44%, 49%);
    color: #fff;
    border: hsl(100, 44%, 49%) 2px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.centered {
    margin-left: 34em;
}