.grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
}

.navbar {
    background:hsl(100, 44%, 49%);
    grid-area: navbar;
    padding: 10px;

}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em ;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

header, footer {
    grid-column: 1 / 4;
    
}

img {
    float: left;
    margin: 0 20px 20px 10px;
}

p {
    text-align: justify;
    text-indent: 2em;
}
a {
    color:darkgreen
}

.content {
    width: 75%;
     margin-left: 200px;
    font-size: 20px;
}

.content-item {
    padding: 5px;
}

.list {
    list-style-type: none;
}

.list > li {
    padding-bottom: 10px;
    padding-top: 10px;
}
/* .card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
} */

.centered{
    margin-left: 34em;
}